
/data
*.pyc
*.gz
*ubyte

*.png

!sample_progression_4x4_distr_every_3_NEAR.png

/saved_models/*
/src/wandb
/wandb
/archive
report/*
!report/*.pdf

/src/sample_sets/*.pt

papers/*



!/saved_models/alt_ddpm_NEAREST_4x4_distr_100.pth
!/saved_models/ddpm_alt_BI_5x5_set_100.pth
!/saved_models/ddpm_gaussian_cosine_100.pth
!/saved_models/ddpm_gaussian_linear_100.pth
